<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ihm_android">
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <application
        android:name=".Data"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="StopAuGaspillage"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Profile"></activity>
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".SendMessenger" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AjouterAliment"
            android:label="Ajouter" />
        <activity
            android:name=".ChangerAliment"
            android:label="Ajouter" />
    </application>

</manifest>